$color-text: var(--color-text);
$color-heading: var(--color-heading);

$white: var(--c-white);
$white-soft: var(--c-white-soft);
$white-mute: var(--c-white-mute);
$black: var(--c-black);
$black-soft: var(--c-black-soft);
$black-mute: var(--c-black-mute);
$vue-light: var(--c-vue-light);
$vue-dark: var(--c-vue-dark);
